/* This is a CSS override! It overrides default values for ALL elements. */
/* I highly recommend keeping this override in your code. */
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

@font-face {
	font-family: "Limkin";
	src: url("assets/TMT-LimkinVF.ttf");
}

.paro {
	display: flex;
	flex-direction: column; /* new property! */
	align-items: center; /* new property! */
	gap: 20px;
}

.paro {
	font-size: 20px;
	background-color: rgb(197, 124, 195);
	font color: black;
	border: 4px dotted green;
	flex grow: 1
}

body {
	font-family: "Limkin", serif;
	font-variation-settings: "wght" 500, "SRFF" 100;
	background: radial-gradient(circle, rgb(168, 243, 242) 50%, rgb(245, 181, 181) 40%,rgb(213, 193, 109) 10%);
	background-size: 100vw 100vh;
}

.hidden {
	display: none;
}

h1 {
	margin: 20px;
}
h2 {
	margin: 20px;
}
p {
	margin: 20px;
}
ul {
	margin: 20px;
}
li {
	margin: 20px;
}