/* This is a CSS override! It overrides default values for ALL elements. */
/* I highly recommend keeping this override in your code. */
* {
	box-sizing: border-box;
	padding: 10;
	margin: 10;
}

body {
	background-color: rgb(255, 0, 179);
	background-image: url('assets/background3.jpg');
	background-size: cover;
	font-family: Helvetica;
	margin: 0 auto;
	max-width: 50em;
  }

  h1 {
	margin: 20px;
	font-family: Helvetica;
	color: aqua;
	font-size: small;
  }


.firstbutton {
	background-color: blueviolet;
	border: 2px solid #04AA6D;
	align-self:center;
	position: relative;
	max-width:1000px
	width= 100%
}

.secondbutton {
	transition-duration: 0.7s;
  }
  
.secondbutton:hover {
	background-color: #04AA6D; 
	color: white;
  }

 button {
	background-color: blueviolet;
	border: 2px solid #04AA6D
}

button {
	transition-duration: 0.7s;
  }
  
button:hover {
	background-color: #04AA6D; 
	color: white;
  }



  h2 {
		margin-top: 1em;
		padding-top: 1em;
		
	  }
p {
	margin: 20px;
	color: aqua;
	background-color: black;
}
ul {
	margin: 20px;
}
li {
	margin: 20px;
}